<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Error pages</title>
  </head>
  <body
    class="d-flex justify-content-center align-items-center bg-dark text-light"
  >
    <div class="container">
      <div class="text-center">
        <h1><%= error.status %></h1>
        <p><%= message %></p>
        <a class="btn btn-outline-primary text-decoration-none" href="/"
          >Back to home</a
        >
      </div>
      <div class="card bg-info text-dark p-2 my-2">
        <pre><%= error.stack %></pre>
      </div>
    </div>
  </body>
</html>
